.habit-tracker {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 8px;
  position: relative;
}

.habit-grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-x: auto;
}

.habit-days,
.habit-row {
  display: grid;
  grid-template-columns: 150px repeat(31, clamp(20px, 1.7vw, 30px));
  gap: 5px;
  align-items: center;
  min-width: max-content;
  cursor: grab;
}

.habit-title-space {
  height: 1px;
}

.habit-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  padding: 3px;
  text-align: left;
}
.habit-name button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding-right: 0px;
  margin-left: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.habit-title-space:not(:nth-child(1)),
.habit-name {
  border-radius: 0 13px 13px 0;
  position: sticky;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(4px);
  /* padding: 5px; */
}

.habit-days .habit-title-space {
  z-index: 4;
}

.habit-circle.active {
  background: var(--accent);
  border-color: var(--accent);
}

.habit-circle:hover {
  transform: scale(1.05);
}
.day-number {
  font-size: 12px;
  text-align: center;
  color: #999;
  transition: 0.2s;
}

/* текущее число */
.day-number.today {
  background-color: var(--accent);
  font-weight: 800;
  color: var(--text-h);
  border: 1.6px solid var(--accent);
  border-radius: 5px;
  text-align: center;
}

/* обычный кружок */
.habit-circle {
  width: clamp(20px, 1.7vw, 30px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #555;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}

/* кружок под текущим днем */
.habit-circle.today-circle {
  border-color: var(--accent);
  box-shadow: 0 0 0 1px rgba(170, 59, 255, 0.15);
}

/* если кружок выбран */
.habit-circle.active {
  background: var(--accent);
  border-color: var(--accent);
}

.habit-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  position: sticky;
  left: 0;
  z-index: 3;
}

.habit-actions button {
  padding: 8px 14px;
  border: 1px solid var(--accent);
  background: transparent;
  color: var(--accent);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.habit-actions button:not(:disabled):hover {
  background: var(--accent-bg);
}

.habit-actions button:disabled {
  background: "transparent";
  color: #999;
  border: 1px solid #999;
}
